<div class="container  d-flex justify-content-center pt-5">
    <div class="d-flex justify-content-center">
        <div class="row poema">
            <h1>El Foco, para Alexandra.</h1>
<hr>
            <p>
                En algunos momentos me siento y un foco ilumina sobre mi, como existen lapsos donde toda la oscuridad me
                invade,
                las ideas se esconden, el corazón se acelera y el temblor toma dominio de mis dedos, sin salida me
                encuentro
                y
                el foco está cada vez más lejos, intentó correr pero la almohada se convierte en mar y de náufrago me
                disfrazo,
                pasan días quizás semanas, el tiempo ya no es prioridad, a la distancia un faro me lleva a su foco cual
                polilla,
                una isla me arropa en su firmeza, la hierba tiene un olor que me tranquiliza, el choque de las olas en
                la
                costa
                arrullan a mis demonios, y es ahí cuando despierto.

            </p>
            <p> A la cabeza se me vienen un montón de ideas, el foco se concentra en mí, los demonios no son más que
                malos
                recuerdos y ahí es donde entiendo todo.

            </p>
            <p class="justify-content-end d-flex">- Con cariño, para La isla.</p>
            <hr>
            <div class="col-12 d-flex justify-content-center pb-5">
           
                <button class="btn btn-success atras" (click)=" navegacion()"> Atras</button>
            </div>
        </div>


    </div>

</div>