@import '../../../assets/styles/variables.scss';

.container {
    background-image: url("../../../assets/imgs/paisaje2.jpg");
    background-color: rgba($color: $red, $alpha: 0.99);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    min-width: 100vw;
    min-height: 100vh;
    color: black;


}
.poema{
    width: 50vw;
    text-align: center;
}
p{
    font-size: 1.5rem;
}