<div class="row container d-flex justify-content-center">

    <div class="d-flex justify-content-center pt-3 titulo">
        <h1>CON CARIÑO PARA ALEXANDRA</h1>
    </div>
    <button class="grandes btn btn-success col-7 malo" (click)=" navegacion('malo')">Mal Poema</button>
    <button class="grandes btn btn-success col-7 distancia" (click)=" navegacion('distancia')">Entre nosotros</button>
    <button class="grandes btn btn-success col-7 siempre" (click)=" navegacion('siempre')">Para siempre</button>
    <button class="grandes btn btn-success col-7 recuerdo" (click)=" navegacion('recuerdo')">Guardemos</button>
</div>