<div class="container">

    <p>Horas que consumen días como animales, noches que parecen sin fin, intentos de escribir sin el resultado
        esperado,
        las palabras no encuentran sentido cuando la inspiración se manifiesta solo en recuerdos, busco la almohada con
        intención de respuestas y solo encuentro misterios, el cuerpo suda y el corazón late sin razón, en el espejo se
        forma una silueta oscura, quizás es la bufanda negra que cuelga de mi armario, se materializa la desconfianza,
        la
        timidez y recuerdos que eclipsan mi tranquilidad cada vez son más frecuentes.</p>
    <p>
        “Amanece”</p>
    <p>
        La vida empieza, el frio de la mañana me abraza, el café reposa en mis labios y me recuerdan al sabor de los
        tuyos,</p>
</div>