@import '../../../assets/styles/variables.scss';

.container {
    background-image: url("../../../assets/imgs/paisaje2.jpg");
    background-color: rgba($color: $green, $alpha: 0.8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    min-width: 99vw;

    .poema {
        width: 80vw;
        font-size: 1.2rem;
        text-align: center;
    }
}

.black {
    font-weight: bold;
    font-size: 1.5rem;
}

div.firma {
    padding-right: 20rem;
    font-size: 1.5rem;
    font-style: oblique;

    p.firma {}
}