<div class="container d-flex justify-content-center pt-5 row">

    <h1 class="d-flex justify-content-center">SOLO RUTINA</h1>
    <hr>
    <div class="poema mt-2 mb-5">

        <p>Horas que consumen días como animales, noches que parecen sin fin, intentos de escribir sin el resultado
            esperado,
            las palabras no encuentran sentido cuando la inspiración se manifiesta solo en recuerdos, busco la almohada
            con
            intención de respuestas y solo encuentro misterios, el cuerpo suda y el corazón late sin razón, en el espejo
            se
            forma una silueta oscura, quizás es la bufanda negra que cuelga de mi armario, se materializa la
            desconfianza,
            la
            timidez y recuerdos que eclipsan mi tranquilidad cada vez son más frecuentes.</p>
        <p class="black">
            “Amanece”</p>
        <p>
            La vida empieza, el frío de la mañana me abraza, el café reposa en mis labios y me recuerdan al sabor de los
            tuyos, la avenida se congestiona y las paciencias del mundo se acaba, sin darme cuenta la vida es caos, lo
            intrusivo se apodera y yo lo permito.</p>

        <p class="black">
            “Pasan las 12:00”</p>

        <p>
            El sol es fuerte y abrazador, cada gota de mi sudor injustificado se siente fría cuando baja por mi frente
            con
            el tic tac de un viejo reloj se siente como la vida se consume sin sentido alguno</p>

        <p class="black">
            “Ocaso”</p>

        <p>
            Se siente la tranquilidad de un día de recompensa, se siente la soledad en el silencio de una ciudad muerta
        </p>

        <p class="black">
            "Llegas a mi vida"</p>

        <p>Los días se hacen cortos, huele a primavera, la energía se apodera de mí y la vida encuentra un camino,
            reviso mi
            ms mensajes y encuentro los tuyos, observo la foto despampánente de la mujer al otro, lado sonrió y empieza
            mi día,
            pienso en ella todo el día, me da felicidad saber que esta ahí, cuenta conmigo y yo con ella.</p>

        <p class="black">
            "Que la vida no acabe"</p>
        <p>
            Siempre y cuando estés en mi vida que esta no acabe, quiero recordar cada beso, soñar con cada roce, plasmar
            cada pensamiento.</p>

    </div>

    <div class="firma d-flex justify-content-end">
        <p class="firma">- Con cariño</p>
    </div>
    <hr>
    <div class="col-12 d-flex justify-content-center pb-5">
   
        <button class="btn btn-success atras" (click)=" navegacion()"> Atras</button>
    </div>
</div>