<div class="container">
    <div class="row body">
        <div class="col-12 text-center mb-5">
            <h1> Segun Google Maps
            </h1>
        </div>
        <div class="col-6"> <google-map width="750px" height="450px" [center]="center" [zoom]="zoom">
                <map-marker *ngFor="let marker of markers" [position]="marker.position" [options]="marker.options"
                    [icon]="marker.icon"></map-marker>
            </google-map>
        </div>
        <div class="col-6">
            <h2><b>Actualmente nos separan:</b> {{distanceinMetro}} kms</h2>
        </div>
    </div>
</div>