@import '../../../assets/styles/variables.scss';

.container {
    background-image: url("../../../assets/imgs/paisaje2.jpg");
    background-color: rgba($color: $blue, $alpha: 0.8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    min-width: 100vw;
    min-height: 100vh;
    color: black;


}

h1 {
    text-align: center;
}

.foto {
    height: 50vh;
}

.mensaje {
    font-size: 3rem;
    width: 50vw;
    text-align: center;
    font-weight: bold;
    color: black;
}