<div class="container d-flex justify-content-center">

    <div class="row mt-2">
        <h1><b>Nunca olvidar</b></h1>
        <hr>
        <div class="foto d-flex justify-content-center">
            <img src="../../../assets/imgs/recuerdo.png" alt="recuerdo">
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <p class="mensaje">"En las memorias descansa, en fotos como esta se manifiesta, pero en tu corazón vive."
            </p>
        </div>
        <hr>
        <div class="col-12 d-flex justify-content-center pb-5">   
            <button class="btn btn-success atras" (click)=" navegacion()"> Atras</button>
        </div>
    </div>

</div>